

#container > li:nth-child(2){
    color: red;
    
}

body a:hover{
    color:lightblue;
    font-weight: bold;
}

.red-link:active{
    color:red;
    font-weight: italic;
}

.yellow-link:visited{
    color: yellow;
    
}

.contact-form-textarea:focus{
    color: green
    font-size: 20px;
}

nav:{
    background: darkblue;
    

}

.currentpage{
    background-color: #ddf;
    color:black;
}

nav ul li:hover{
    color: lightblue;
}

nav input:focus{
    border: aqua;

}
